.touchable-opacity {
  cursor: pointer;
}
.touchable-opacity:hover {
  opacity: 0.8;
  transition: 0.2s ease-out;
}

.flat-btn {
  /* width: 100%; */
  padding: 15px 20px;
  font-weight: bold;
  text-align: center;
  background-color: green;
  margin-bottom: 6px;
}

.flat-btn span {
  color: white;
}

@keyframes do-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: do-spin 0.8s linear infinite;
}
