.touchable-opacity {
  cursor: pointer;
}
.touchable-opacity:hover {
  opacity: 0.6;
  transition: 0.2s ease-out;
}

:root {
  --auth-theme-: #e5176e;
  --auth-theme-darker: #d42265;
  --auth-theme-darkest: #bc1a57;
}

.auth-container h2 {
  font-weight: bold;
  color: var(--auth-theme-darker);
}

.auth-textbox {
  width: 100%;
  padding: 12px 20px;
  border: solid 2px var(--auth-theme-darker);
  font-size: 16px;
  margin: 6px 0px;
}

.auth-textbox::placeholder {
  color: var(--auth-theme-darkest);
}

.auth-textbox:focus {
  outline: 0;
}

.flat-btn {
  width: 100%;
  padding: 15px 20px;
  font-weight: bold;
  text-align: center;
}

/* PHONE ONLY MODE */
@media only screen and (max-width: 767px) {
  .auth-container {
    padding: 20px 15px;
  }
  .auth-content-box {
    margin: 20px 0px;
  }

  .auth-bottom-div {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
}

/* PC ONLY MODE */
@media only screen and (min-width: 768px) {
  .auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
