.bottom-nav-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* padding: 20px; */
  /* background: white; */
}

.bottom-nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tab-item {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.tab-item * {
  color: var(--app-color-darker);
}
.tab-item:hover {
  background: var(--app-color-darker);
  color: white;
}

.tab-item:hover * {
  color: white;
}

.tab-item-active {
  background: var(--app-color-darker);
  color: white;
}
