.item-frame-container {
  display: flex;
  flex-direction: row;
  flex: 7;
  align-items: center;
  justify-content: center;
  border: solid 0px rgb(241, 241, 241);
  border-bottom-width: 1px;
  margin-bottom: 10px;
}
