.profile-small small {
  font-weight: bold;
  cursor: pointer;
  margin: 4px;
  font-size: 15px;
}

.profile-container {
  height: 100vh;

  /* padding-bottom: 100px; */
  /* overflow-y: scroll; */
}

.one-control-option {
  /* background: red; */
  flex-direction: row;

  padding: 15px 25px;
  border: solid 0px var(--app-color-grey);
  border-bottom-width: 2px;
}

.controls-container {
  margin-top: 20px;
}
.one-control-option {
  cursor: pointer;
}

.setting-toggles {
  width: 100%;
  padding: 20px;
}

.t-title {
  font-weight: bold;
  color: var(--app-accent-color-3);
}
