@media only screen and (max-width: 767px) {
  .camp-h3 {
    font-size: 17px;
  }
  .ad-name-box {
    padding: 10px 0px;
  }
  .page-content {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .page-inner-wrapper {
    padding: 15px;
  }
  .profile-roles {
    font-weight: 600;
    color: var(--app-color);
  }

  .user-details-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-container {
    padding-bottom: 100px;
    width: 100vw;
  }

  .profile-img {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  .camp-content {
    padding: 10px;
  }

  .s-dets {
    padding: 3px 10px;
  }
  .shop-item {
    width: 30%;
    margin: 10px 1.5%;
    border-radius: 3px;
  }

  .s-badge {
    padding: 3px 8px;
    bottom: 10px;
  }

  .s-dets .name {
    font-size: 11px;
  }

  .s-dets .date {
    font-size: 12px;
  }
  .shop-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 3;
  }
  .bottom-nav-container {
    box-shadow: var(--elevate-float);
  }
  .sidebar-wrapper {
    width: 250px;
    background: white;
  }
  .phone-vanish {
    display: none;
  }
  .mobile-sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
  }

  .side-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    z-index: 3;
  }
  .t-title {
    font-size: 16px;
  }
  .t-desc {
    font-size: 14px;
  }

  .user-info-box {
    /* padding: 10px; */
    text-align: center;
  }
  .one-control-option {
    width: 100vw;
  }
  .create-shop-container {
    padding: 10px 10px;
  }
  .management-content-area {
    padding: 15px;
  }
  .shop-image {
    height: 60px;
    width: 60px;
  }

  .drop-area {
    margin: 10px 0px;
  }

  .shop-management-container {
    padding: 10px;
  }

  .item-full-container {
    min-height: 100vh;
    z-index: 20;
    background: white;
    bottom: 0px;
    width: 100%;
  }
  .item-full-header {
    background: white;
    box-shadow: var(--elevate-float);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .item-full-header small,
  .item-full-header svg {
    color: var(--app-color-darker);
    font-size: 16px;
  }

  .item-full-content {
    padding-top: 60px;
    height: 100vh;
    overflow-y: scroll;
    background: white;
  }

  .item-full-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex: 3;
    box-shadow: var(--elevate-float);
  }

  .full-view-img {
    height: 300px;
  }

  .cart-content {
    padding: 15px 0px;
  }
}
