@media only screen and (min-width: 768px) {
  .pc-sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
  }
  .ad-name-box {
    padding: 15px 20px;
  }
  .pc-vanish {
    display: none;
  }
  .ad-card {
    margin-bottom: 20px;
    box-shadow: var(--elevate-float);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .news-ad-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .camp-container {
    margin-bottom: 20px;
    box-shadow: var(--elevate-float);
  }
  .camp-content {
    padding: 20px;
  }
  .camp-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .news-page {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .toolbar-container {
    position: absolute;
  }

  .s-badge {
    padding: 8px 12px;
    bottom: -10px;
  }
  .s-dets {
    padding: 15px;
  }

  .left {
    margin-left: 300px;
  }
  .s-dets .price .name {
    font-size: 16px;
  }
  .s-dets .date {
    font-size: 13px;
  }
  .shop-page-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .page-wrapper {
    /* display: grid; */
    grid-template-columns: 300px 1fr;
    max-height: 100vh;
    overflow-y: hidden;
  }

  .sidebar-wrapper {
    width: 300px;
  }

  .bottom-nav-container {
    box-shadow: 0 0 0;
  }

  .tab-item {
    box-shadow: -30px 4px 104px -10px rgb(0 0 0 / 52%);
    border-radius: 5px;
    margin: 20px 10px;
    cursor: pointer;
  }
  .page-content {
    padding-left: 300px;
    padding-top: 70px;
    padding-bottom: 160px;
  }
  .page-inner-wrapper {
    padding: 20px 50px;
  }

  .profile-container {
    padding: 0px 20px;
    padding-bottom: 160px;
  }
  .user-details-div {
    display: flex;
    flex-direction: row;
  }

  .user-info-box {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 15px 30px;
    flex-direction: column;
  }
  .user-name {
    font-size: 30px;
  }

  .profile-roles {
    font-weight: bold;
    font-size: 18px;
    color: var(--app-color-darker);
  }
  .profile-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .toggler {
    margin-bottom: 20px;
  }

  .t-title {
    font-size: 21px;
  }
  .setting-toggles h3 {
    font-size: 23px;
    margin-bottom: 25px;
  }
  .create-shop-container {
    padding: 0px 20px;
  }
  /* .management-content-area {
    padding: 20px;
  } */

  .drop-area {
    padding: 20px 0px;
  }

  .shop-image {
    height: 80px;
    width: 80px;
  }

  .shop-card h4 {
    font-size: 18px;
  }

  /* .shop-management-container, */
  .management-content-area {
    padding-top: 20px;
  }

  .item-full-container {
    box-shadow: var(--elevate-float);
    margin: 0px 20px;
    height: 100vh;
    width: 300px;
    z-index: 30;
    right: -20px;
    top: 57px;
    background-color: white;
  }

  .full-view-img {
    height: 300px;
    width: 300px;
    display: inline-block;
  }
  .item-full-footer {
    text-align: center;
    cursor: pointer;
    /* padding: 15px; */
    width: 100%;
    display: flex;
    flex: 3;
    box-shadow: var(--elevate-float);
  }

  .right-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cart-wrapper {
    padding: 50px;
  }
  /* .cart-content {
    padding: 50px;
  } */

  .cart-total h2 span {
    font-size: 36px;
    font-weight: bold;
  }

  .order-full-container {
    /* padding: 15px; */
    /* padding-top: 60px; */
  }
}
