@import url(./mobile-only.css);
@import url(./pc-only.css);
@import url(./elevations.css);
@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,400i,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
}
html body {
  overscroll-behavior: none;
}
:root {
  --app-color-maroon: maroon;
  --app-color: #e5176e;
  --app-color-darker: #d42265;
  --app-color-whiter: #ffc6db;
  --app-accent-color: #fca236;
  --app-color-grey: #f1f1f1;
  --app-accent-color-2: green;
  --app-color-darkest: #bc1a57;
  --app-accent-color-3: #033a7b;
  --app-color-dim: #781339;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 3px;
}
body {
  margin: 0px;
  padding: 0px;
}

.hover-interaction,
.back-hover-interaction {
  cursor: pointer;
}

.hover-interaction:hover {
  color: var(--app-color-darker);
}

.back-hover-interaction:hover {
  background: var(--app-color-darker);
  color: white;
}

.back-hover-interaction:hover p,
.back-hover-interaction small {
  color: white;
}
.app-bold-text {
  color: var(--app-color-darker);
  font-weight: bold;
}

.touchable-opacity {
  cursor: pointer;
}
.touchable-opacity:hover {
  opacity: 0.6;
  transition: 0.2s ease-out;
}

.subtitle {
  margin-top: 15;
  border: solid 0px var(--app-color-grey);
  border-bottom-width: 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.page-content {
  overflow-y: scroll;
  max-height: 100vh;
  overflow-x: hidden;
}

.le-toast {
  cursor: pointer;
  border-radius: 5px;
}

.le-toast p {
  font-size: 15px;
}
