.sidebar-wrapper {
  height: 100vh;
  opacity: 0;
  background-color: white;
}

.mid {
  margin-top: 30px;
}
.side-menu-item {
  padding: 13px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.just-show {
  display: block;
  opacity: 1;
}
.side-menu-item:hover {
  background: var(--app-color-darker);
  color: White;
}

.side-menu-active {
  background: var(--app-color-darkest);
  color: White;
}
.side-menu-active:hover {
  background: antiquewhite;
  color: var(--app-color-darker);
}

.side-menu-item p {
  margin: 0;
  margin-left: 30px;
  font-weight: bold;
}

.upper {
  padding: 15px;
  background: var(--app-color);
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.upper img {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: solid 2px white;
}

.upper h5 {
  color: white;
  margin: 5px;
}

.upper small {
  font-weight: bold;
  color: var(--app-color-whiter);
}

@keyframes slide-from-right {
  from {
    opacity: 0px;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-from-left {
  from {
    opacity: 0px;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-anime-right {
  animation: slide-from-right;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.slide-anime {
  animation: slide-from-left;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
